:root {
    --font: "Arial"
}

h1{
    margin: 5px;
    font: bolder 35px arial;
    color: deepskyblue;
    display:flex;
}
h2 {
    color: lightpink;
    font: bold 50px arial;
    border-radius: 10px;
    background-color: white;
    width: fit-content;
    border: 5px solid lightpink;
    margin:5px;
    display:flex;
    align-items:center;
}
p{
    margin: 5px;
    font: bold 120% arial;
    color:deepskyblue;
}
p2 {
    margin: 5px;
    font: 20px "Times New Roman";
    text-align: left;
}

.transcard1 {
    border-radius: 25px;
    background-color: skyblue;
    width: 30vw;
    height: fit-content;
    display: flex;
    position: relative;
    top: 8.5%;
    left: 2.5%;
    box-sizing: border-box;
    padding: 2% 0 2% 0;
    float: left;
}
.transcard2 {
    background-color: lightpink;
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    top: 10%;
    padding: 5% 0 5% 0;
    box-sizing: border-box;
}
.transcard3 {
    background-color: white;
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    top: 10%;
    box-sizing: border-box;
}

.discordsidebar {
    background-color: #36393E;
    border-radius: 25px;
    position: relative;
    height: 55vh;
    width: 13vw;
    display: flex;
    box-sizing: border-box;
    top:5%;
    right:2.5%;
    float:right;
}

.roundcorners {
    border-radius:25px
}